* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  display: grid;
  place-items: center;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 0 1rem;
}
form {
  border: 1px solid #aaa;
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

select,
textarea,
button,
input {
  padding: 8px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.row .input {
  flex: 1;
}

.cta {
}
